

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>

</body>

 <!-- Site footer -->
 <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6"></div>
        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="https://www.squarevendo.com">About Us</a></li>
            <li><a href="https://www.squarevendo.com">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2021  
       <a href="#">Squarevendo Studio</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fab fa-facebook fa-2x"></i></a></li>
            <li><a class="twitter" href="#"><i class="fab fa-twitter fa-2x"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>

</html>